<ons-toolbar class="navigation-bar--transparent">
  <div class="left">
    <ons-toolbar-button>
      <ons-back-button-custom (click)="navigator.popComponent()">
        Map
      </ons-back-button-custom>
    </ons-toolbar-button>
  </div>
  <div class="center">
    Details
  </div>
</ons-toolbar>
<div class="page__background"></div>
<div class="page__content no-status-bar-fill">

  <div *ngIf="selectedNation">

    <!-- todo: add photo attributions to comply with Google guidelines -->
    <ons-carousel class="nation-photos {{!selectedNation.photos.length ? 'placeholder' : ''}}"
                  #photoCarousel swipeable overscrollable auto-refresh auto-scroll
                  auto-scroll-ratio="0.4" animation-options="{duration: 0.1}">
      <ons-carousel-item *ngFor="let photo of selectedNation.photos"
                         [ngStyle]="{'background-image': 'url(' + photo +')'}"
                         class="nation-photo">
      </ons-carousel-item>
      <ons-carousel-item *ngIf="!selectedNation.photos.length"
                         [ngStyle]="{'background-image': 'url(' + photoPlaceholder +')'}"
                         class="nation-photo">
        <div class="nation-photo-placeholder">No photos found</div>
      </ons-carousel-item>
    </ons-carousel>

    <nation-details class="nation-details-container"
                    [nation]="selectedNation"
                    [showBorder]="false">
    </nation-details>

    <div class="nation-events">

      <div class="block transparent">
        <div class="title-text" style="margin: 0px;">Upcoming events</div>
      </div>

      <ul class="nation-event-list">
        <li *ngFor="let ev of selectedNation.events">
          <nation-event [event]="ev" (click)="openEvent(ev)"></nation-event>
        </li>
      </ul>

    </div>

  </div>

</div>
