.nation-details-container
  position: absolute
  bottom: -100px
  width: 100%
  height: 100px
  background-color: white
  border-top: 1px solid #ccc
  transition: bottom 0.25s ease-out

.nation-details-container.active
  bottom: 0px
