.nation-details
  transition border 0.25s linear
  padding-right 10px

  &.border
    border-left 7px solid transparent

  .nation-visitors
    margin-bottom 3px

  .nation-event
    margin-top 10px
    margin-bottom 3px

  .nation-image-container
    display flex
    align-items center

    // Keeps same image size for all nations even if details div size differs
    .nation-image
      position relative
      width 100%
      height 60px
      background-repeat no-repeat
      background-size contain
      background-position center

.nation-contact-info
  border-top 1px solid #ddd
  border-bottom 1px solid #ddd

  .nation-address
  .nation-phone
    margin-bottom 4px
