<ons-splitter>
  <ons-splitter-side #sideNav id="side-nav" side="left" width="200px" collapse  style="border-right: 1px solid #ccc">
    <ons-page>
      <ons-list>
        <ons-list-item (click)="navigate(['nations']); sideNav.close();" tappable>
          Nations
        </ons-list-item>
        <ons-list-item (click)="navigate(['pub-crawls']); sideNav.close();" tappable>
          Pub crawls
        </ons-list-item>
        <ons-list-item (click)="navigate(['login']); sideNav.close();" tappable>
          Login
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content>
    <router-outlet></router-outlet>
  </ons-splitter-content>
</ons-splitter>
